include LICENSE
include README.md
include CITATION.CFF

exclude .pre-commit-config.yaml
exclude .flake8
exclude tox.ini

include brainreg/napari/napari.yaml

recursive-exclude .napari *
recursive-exclude examples *
