[project]
name = "brainreg"
description = "Automated 3D brain registration"
readme = "README.md"
authors = [
    {name = "Adam Tyson, Charly Rousseau", email = "code@adamltyson.com"},
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
requires-python = ">=3.8"
dependencies = [
    "bg-atlasapi",
    "bg-space",
    "fancylog",
    "imio",
    "imlib>=0.0.26",
    "numpy",
    "scikit-image",
]
dynamic = ["version"]

[project.optional-dependencies]
napari = [
    "brainglobe-napari-io",
    "brainreg-napari",
    "brainreg-segment>=0.0.2",
    "napari[pyside2]",
]
dev = [
    "black",
    "pre-commit",
    "pytest",
    "pytest-cov",
]

[project.scripts]
brainreg = "brainreg.cli:main"

[build-system]
requires = [
    "setuptools>=45",
    "wheel",
    "setuptools_scm[toml]>=6.2",
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
include = ["src/brainreg*"]

[tool.setuptools_scm]

[tool.pytest.ini_options]
addopts = "--cov=brainreg"
filterwarnings = [
    "error",
    # Emitted by scikit-image on import, see https://github.com/scikit-image/scikit-image/issues/6663
    # This filter should be removed when scikit-image 0.20 is released
    "ignore:`np.bool8` is a deprecated alias for `np.bool_`",
    # Emitted by nptyping, see https://github.com/ramonhagenaars/nptyping/issues/102
    # for upstream issue
    "ignore:`np.object0` is a deprecated alias for ``np.object0`",
    "ignore:`np.int0` is a deprecated alias for `np.intp`",
    "ignore:`np.uint0` is a deprecated alias for `np.uintp`",
    "ignore:`np.void0` is a deprecated alias for `np.void`",
    "ignore:`np.bytes0` is a deprecated alias for `np.bytes_`",
    "ignore:`np.str0` is a deprecated alias for `np.str_`"
]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]

[tool.black]
target-version = ['py38', 'py39', 'py310', 'py311']
skip-string-normalization = false
line-length = 79

[tool.ruff]
line-length = 79
exclude = ["__init__.py","build",".eggs"]
select = ["I", "E", "F"]
fix = true
