name: tests

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/lint@v2

  manifest:
    name: Check manifest
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/check_manifest@v2

  test:
    needs: [linting, manifest]
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Run across a mixture of Python versions and operating systems
        include:
        - os: ubuntu-latest
          python-version: "3.11"
        - os: macos-latest
          python-version: "3.10"
        - os: windows-latest
          python-version: "3.9"

    steps:
      - name: Cache atlases
        uses: actions/cache@v3
        with:
            path: ~/.brainglobe
            key: atlases

      - name: Setup QT libraries
        uses: tlambert03/setup-qt-libs@v1

      # Helps set up VTK with a headless display
      - uses: pyvista/setup-headless-display-action@v2

      - name: Run tests
        uses: neuroinformatics-unit/actions/test@v2
        with:
          python-version: ${{ matrix.python-version }}
          use-xvfb: true

  test-with-conda:
    needs: [linting, manifest]
    name: Test conda-install, on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup mamba environment
        uses: mamba-org/setup-micromamba@v1
        with:
          init-shell: bash
          environment-name: niftyreg-env
          create-args: >-
            python=3.11
            setuptools
            setuptools_scm
            wheel

      - name: Install package into environment
        shell: bash -el {0}
        run: |
          pip install .[dev]

      - name: Run backend tests (no conda binaries)
        shell: bash -el {0}
        run: |
          pytest -v tests/tests/test_backend

      - name: Install niftyreg with conda
        shell: bash -el {0}
        run: |
          micromamba install niftyreg

      - name: Run backend tests(conda binaries present)
        shell: bash -el {0}
        run: |
          pytest -v tests/tests/test_backend

  build_sdist_wheel:
    name: Build source distribution and wheel
    needs: [test, test-with-conda]
    if: github.event_name == 'push' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/build_sdist_wheels@v2

  deploy:
    name: Deploy to PyPI
    needs: [build_sdist_wheel]
    if: github.event_name == 'push' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: dist
    - uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        user: __token__
        password: ${{ secrets.TWINE_API_KEY }}
